#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a meeting-2024-app instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=meeting-2024-app server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/meeting-2024-app.pid %t/meeting-2024-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/meeting-2024-app.pid \
    --cidfile=%t/meeting-2024-app.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${APP_PORT}:80 \
    --env-file=smarthost.env \
    --env APP_TIMEZONE \
    --env APP_URL \
    --env DB_CONNECTION \
    --env DB_HOST \
    --env DB_PORT \
    --env DB_DATABASE \
    --env DB_USERNAME \
    ${MEETING_2024_APP_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/meeting-2024-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/meeting-2024-app.ctr-id
PIDFile=%t/meeting-2024-app.pid
Type=forking

[Install]
WantedBy=default.target
